/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --first-color: #29327f;
    --title-color: #252826;
    --text-color: #565d59;
    --body-color: #f4f3fc;
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semibold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 1200px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*=============== HEADER & NAV===============*/

.header {
    width: 100%;
    background-color: var(--first-color);
    margin-bottom: 3rem;
}

.nav {
    max-width: 1140px;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle,
.nav_close {
    color: #fff;
}

.nav_logo {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav_logo-img {
    width: 2rem;
}

.nav_toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--first-color);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: 0 2px 10px rgb(22 62 175 / 30%);
        transition: .4s;
    }
}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav_link {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    color: #a2a6cb;
    font-size: 1rem;
    transition: .4s;
}

.nav_link:hover {
    color: #fff;
}

.nav_icon {
    font-size: var(--h2-font-size);
}

.nav_close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

/* Show menu */

.show-menu {
    right: 0;
}

/*=============== RIGHT ===============*/

.profit {
    padding: 1.5rem;
    background-color: var(--container-color);
    border-radius: .625rem;
}

.profit_title {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}

.profit_details {
    text-align: center;
}

.profit_data h3 {
    margin-top: 2rem;
    font-size: var(--biggest-font-size);
}

.profit_data span {
    font-size: var(--small-font-size);
}

.profit_data p {
    font-size: var(--small-font-size);
    margin-top: 1.5rem;
    margin-bottom: .75rem;
}

.best_sellers {
    padding: 1.5rem;
    background-color: var(--container-color);
    border-radius: .625rem;
    margin-top: 1.5rem;
}

.seller_title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}

.seller_profile {
    display: flex;
    align-items: center;
}

.seller_profile:not(:last-child) {
    margin-bottom: 1.5rem;
}

.seller_img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.seller_name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.sales_box {
    margin-left: auto;
    background-color: var(--body-color);
    color: var(--title-color);
    padding: 6px 10px;
    border-radius: 50px;
    font-size: var(--smaller-font-size);
}

/*=============== LEFT ===============*/


/*=============== FOOTER ===============*/


/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 767px) {}

/* For large devices */
@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1216px) {}